.cart-container {
  .card {
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    margin-top: 150px;
    .card-header {
      font-size: 1.5rem;
    }

    .cart-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 15px 0;
      border-bottom: 1px solid #ddd;

      img {
        max-width: 80px;
        border-radius: 5px;
      }

      h5 {
        font-size: 1.2rem;
        font-weight: bold;
      }

      .quantity-control {
        display: flex;
        align-items: center;

        button {
          width: 30px;
          height: 30px;
          border-radius: 5px;
          border: 1px solid #ccc;
        }

        span {
          width: 40px;
          text-align: center;
          font-weight: bold;
        }
      }

      .price {
        font-size: 1.2rem;
        font-weight: bold;
      }

      .delete-btn {
        background-color: #dc3545;
        border: none;
        padding: 5px 8px;
        border-radius: 5px;
        color: white;
        cursor: pointer;
      }
    }

    .button-group {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }
}
