
<div class="container">
    @if (products) {
        <div class="row featurette">
            <div class="col-md-7 order-md-2 card-body">
                <strong class="d-inline-block mb-2 text-primary">
                    <p>{{ products.category }}</p>
                </strong>
                <h2 class="mb-0">{{ products.title }}</h2>
                <p class="mb-1 price">Price: {{ products.price | currency:"INR":"symbol" }}</p>
                <p class="card-text mb-auto description">{{ products.description }}</p>
                <p class="card-text"><span class="rating">Rating:</span> {{ products.rating.rate+"/5" }}<small class="text-muted">{{ "("+products.rating.count+")" }}</small></p>
                <div class="cart-button">
                    <div class="quantity-controls mb-3">
                        <button class="btn btn-outline-secondary btn-sm" (click)="decreaseQuantity()">-</button>
                        <span class="quantity mx-2">{{ quantity }}</span>
                        <button class="btn btn-outline-secondary btn-sm" (click)="increaseQuantity()">+</button>
                    </div>
                    <button class="stretched-link btn btn-primary" (click)="addToCart(products)" [disabled]="isAdded">{{ buttonText }}</button>
                </div>
            </div>
            <div class="col-md-5 order-md-1 img-details">
                <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" [src]="products.image" alt="{{ products.title }}" >
            </div>
        </div>
    }
</div>